@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    input {
        margin-bottom: 5px;
    }

    form {
        margin-bottom: 20px;
    }
</style>

<form id="connectForm">
    <label for="User">User Name</label><br />
    <input type="text" id="userName" /><br />
    <input type="button" value="Connect" id="connectButton"/>
    <input type="button" value="Disconnect" id="disconnectButton"/>
</form>

<form id="subForm">
    <label for="Topic">Topic</label><br />
    <input type="text" id="subTopic" /><br />
    <input type="button" value="Subscribe" id="subButton"/>
    <input type="button" value="Unsubscribe" id="unsubButton"/>
</form>

<form id="publishForm">
    <label for="Publish">Topic</label><br />
    <input type="text" id="publishTopic" /><br />
    <label for="Publish">Message</label><br />
    <input type="text" id="publishMessage" /><br />
    <input type="button" value="Publish" id="publishButton"/>
</form>

<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>