@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Topic</div>
        <div class="col-4"><input type="text" id="topicInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Responder</div>
        <div class="col-4"><input type="text" id="responderInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Additional Data</div>
        <div class="col-4"><input type="text" id="additionalDataInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">
            <input type="button" id="publishButton" value="Publish" />
        </div>
        <div class="col-4">
            <input type="button" id="subscribeButton" value="Subscribe" />
        </div>
        <div class="col-4">
            <input type="button" id="unsubscribeButton" value="Unsubscribe" />
        </div>
        <div class="col-4">
            <input type="button" id="requestButton" value="Request" />
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

@*<script src="~/js/signalr/dist/browser/signalr.js"></script>*@